{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block title %}投票{% endblock title %}

{% block extrahead %}


<script type="text/javascript">

  /*ページが読み込まれたときに実行*/
  window.onload = function(){
    margin_px = (window.parent.screen.width)/6;
    var elementNodeReference = document.getElementById("id_submit");
    elementNodeReference.style.width = "220px";
    elementNodeReference.style.margin = "20px";
  }

  {% for member in members %}

  $(function($) {
        $("#id_{{forloop.counter}}").change( function(){
          var selectVal = $("#id_{{forloop.counter}}").val();
          before_point = Number(selectVal);
          if(isNaN(before_point)){
            disabledSubmitButton();
          }else{
            abledSubmitButton();
          }
        });
      });

  {% endfor %}

  function disabledSubmitButton(){
      var elementNodeReference = document.getElementById("id_submit");
      elementNodeReference.disabled = true;
      var errorMessage = document.getElementById("error_zone");
      errorMessage.innerHTML = "点数は半角数字で入力してください";
  }

  function abledSubmitButton(){
      var elementNodeReference = document.getElementById("id_submit");
      elementNodeReference.disabled = false;
      var errorMessage = document.getElementById("error_zone");
      errorMessage.innerHTML = "";
  }


</script>

<style>
.bootstrap-select{
  margin: 20px;
}
.col-sm-offset-2{
  margin-top:20px;
}
</style>
{% endblock %}

{% block content %}
    <h3 class="page-header">
      投票
      <a href="{% url 'rank:eventList' %}" class="btn btn-default btn-sm" style="margin-left:20px;">戻る</a>
    </h3>
    <h3><font id="error_zone" color="#e01010"></font></h3>
    <form action="{% url 'rank:eventVote' event_id=event_id %}" method="post" class="form-horizontal" role="form">
      {% csrf_token %}
      {% for member in members %}
          <h4>{{member.member_name}}</h4>
          <div class="row">
            <label class="col-sm-1 control-label"></label>
            <div class="col-xs-3">
              <input type="text" class="form-control" placeholder="点数" id="id_{{forloop.counter}}" name="name_{{member.id}}">
            </div>
          </div>
        </select>
      {% endfor %}


      <div class="form-group">
          <button type="submit" class="btn btn-primary" id="id_submit" onclick="hoge()">投票</button>
      </div>
    </form>
{% endblock content %}
